.tabs {
    padding-left: 0;
    margin: 0;

}
.tabs li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    display: inline-block;
    padding: 2px;
    margin-right: 2px;
    cursor: pointer;
    position: relative;
    bottom: -2px;

}


.ui-layout-content {
    border-top: none;
    padding: 0;

}

.tabs li a {
    padding: 5px 5px 6px;

}
.tabs li a,.tabs li.active:hover a{
    color: #999999;

}

.tabs li:hover a {
    color: #111111;
}


.tabs li:hover{
    background: #808080;
}

.tabs li.active:hover{
    background: white;
    cursor: default;
}

.ui-layout-center.tabs {
    padding: 5px;
}




#ace-editor {
    position: relative;


}

.ui-layout-pane {
    background: #333;
    border: 1px solid #262626;
}

.ui-layout-resizer {
    background: #444;
}

.ui-layout-center {
    border: none;
}

.ui-layout-content {
    border: 1px solid #3a3a3a;
    box-shadow: 1px 1px 10px #111111;
}

.tabs {
    border-bottom: 1px solid #3a3a3a;
}

.tabs li {
    border: 1px solid #3a3a3a;
    background: #272822;
    box-shadow: 2px -2px 0px rgba(40,40,40,0.6),-2px -2px 0px rgba(40,40,40,0.6);
}


.tabs li.active {
    z-index: 1;
    border-bottom: 1px solid #272822;
}

.tree {
    background: #272822;
    box-shadow: 1px 1px 10px #111111;
}

.fancytree-container:focus {
    outline: none;
}